<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="net45" />
  <package id="Dapplo.Addons" version="0.3.36" targetFramework="net452" />
  <package id="Dapplo.Addons.Bootstrapper" version="0.3.36" targetFramework="net452" />
  <package id="Dapplo.Config" version="0.3.24" targetFramework="net452" />
  <package id="Dapplo.InterfaceImpl" version="0.1.12" targetFramework="net452" />
  <package id="Dapplo.LogFacade" version="0.2.43" targetFramework="net452" />
  <package id="Dapplo.Utils" version="0.1.28" targetFramework="net452" />
</packages>